# Vectors and Lists

Vectors

In [1]:
;; A simple vector of 4 items

[1 2 3 4]

[1 2 3 4]

In [4]:
;; Vectors can contain different types, such as strings

[1 "two" 3 "four"]

[1 "two" 3 "four"]

In [5]:
;; Or booleans

[true 3 "four" 5]

[true 3 "four" 5]

In [7]:
;; Even nested vectors

[1 [true 3 "four" 5] 6]

[1 [true 3 "four" 5] 6]

In [8]:
;; Create a vector literal

(vector true 3 "four" 5)

[true 3 "four" 5]

In [9]:
;; Get the length of a vector

(def novels ["Emma" "Coma" "War and Peace"])

(count novels)

3

In [10]:
;; Get the first element of a vector

(first novels)

"Emma"

In [11]:
;; Get everything but the first element of a vector

(rest novels)

("Coma" "War and Peace")

In [13]:
;; Getting the rest of the elements of a 1--element vector 
;; returns an empty collection.

(rest ["Ready Player One"])

()

In [16]:
;; Get the third element of a vector

(def year-books ["1491" "April 1865", "1984", "2001"])

(def third-book (first (rest (rest year-books))))

third-book

"1984"

In [17]:
;; Get the nth element of a vector

(nth year-books 2)

"1984"

In [19]:
;; A vector can be called as a function, with an index as the arg

(year-books 2)

"1984"

In [20]:
;; Add an item to a vector in the last position

(conj novels "Carrie")  ; Returns a vector

["Emma" "Coma" "War and Peace" "Carrie"]

In [22]:
;; Add an item to a vector in the first position

(cons "Carrie" novels) ; Returns a sequence

("Carrie" "Emma" "Coma" "War and Peace")

Lists

In [24]:
;; Create a list (use the single quote to avoid evaluation)

'(1 2 3)

(1 2 3)

In [25]:
;;Lists can contain any arbitrary type

'(1 2 3 "four" 5 "six")

(1 2 3 "four" 5 "six")

In [29]:
;; Even other lists

'([1 2 ("a" "list" "inside a" "vector")] "inside" "a" "list")

([1 2 ("a" "list" "inside a" "vector")] "inside" "a" "list")

In [30]:
;; Create a list literal

(list 1 2 3 "four" 5 "six")

(1 2 3 "four" 5 "six")

In [31]:
;; Get the number of elements of the list

(def poems '("Iliad" "Odyssey" "Now We Are Six"))

(count poems)

3

In [32]:
;; Get the first element of the list

(first poems)

"Iliad"

In [33]:
;; Get the rest of the elements of the list

(rest poems)

("Odyssey" "Now We Are Six")

In [34]:
;; Get the nth element of the list

(nth poems 2)

"Now We Are Six"

Lists versus vectors

In [37]:
;; For lists, the 'conj' function add elements in the first position

(def poems '("Iliad" "Odyssey" "Now We Are Six"))

(conj poems "Jabberwocky")

("Jabberwocky" "Iliad" "Odyssey" "Now We Are Six")

In [38]:
;; For vectors, the 'conj' function add elements in the last position

(def vector-poems ["Iliad" "Odyssey" "Now We Are Six"])

(conj vector-poems "Jabberwocky")

["Iliad" "Odyssey" "Now We Are Six" "Jabberwocky"]

In [44]:
;; Given the following vector

(def novels ["Emma" "Coma" "War and Peace"])

#'user/novels

In [40]:
;; Any operation on the vector doesn't change the original one

(conj novels "Jaws")

["Emma" "Coma" "War and Peace" "Jaws"]

In [41]:
;; So to modify the vector, create another one

(def more-novels (conj novels "Jaws"))

#'user/more-novels

In [42]:
;; It's the same with lists

(def novels '("Emma" "Coma" "War and Peace"))

#'user/novels

In [43]:
;; Any operation on the list doesn't change the original one

(conj novels "Jaws")

("Jaws" "Emma" "Coma" "War and Peace")