# Sequences

### One Thing After Another

In [4]:
;; A counter for different collection types 
;; using multimethods

(defn flavor [x]
    (cond
        (list? x) :list
        (vector? x) :vector
        (set? x) :set
        (map? x) :map
        (string? x) :string
        :else :unknown))

(defmulti my-count flavor)

(defmethod my-count :list [x] 
    ;(list-specific-count x)
    )

(defmethod my-count :vector [x] 
    ;(vector-specific-count x)
    )

#multifn[my-count 0x5616f07a]

In [6]:
;; Wrapping a vector in a sequence

(def title-seq (seq ["Emma" "Oliver Twist" "Robinson Crusoe"]))

title-seq ; Sequences are en closed in '()' like lists

("Emma" "Oliver Twist" "Robinson Crusoe")

In [10]:
;; Wrapping a list in a sequence (they're not the same)

(seq '("Emma" "Oliver Twist" "Robinson Crusoe")) ; Note the single quote

("Emma" "Oliver Twist" "Robinson Crusoe")

In [9]:
;; Wrapping a map in a sequence

(seq {:title "Emma", :author "Austen", :published 1815})

([:title "Emma"] [:author "Austen"] [:published 1815])

In [11]:
;; Wrapping a sequence in a sequence (yes, it's possible)

(seq (seq ["Red Queen" "The Nightingale" "Uprooted"]))

("Red Queen" "The Nightingale" "Uprooted")

In [12]:
;; Wrapping empty collections in a sequence

(seq [])

nil

In [13]:
(seq '())

nil

In [14]:
(seq {})

nil

### A Universal Interface

In [16]:
;; Get the first element of a sequence

(first (seq '("Emma" "Oliver Twist" "Robinson Crusoe")))

"Emma"

In [18]:
;; Get everything except the first element of a sequence

(rest (seq '("Emma" "Oliver Twist" "Robinson Crusoe")))

("Oliver Twist" "Robinson Crusoe")

In [20]:
;; Add an element to the front of the sequence

(cons "Emma" (seq '("Oliver Twist" "Robinson Crusoe")))

("Emma" "Oliver Twist" "Robinson Crusoe")

In [23]:
;; Given the last examples of sequences, 
;; The generic counter above defined can be implemented as follows

(defn my-count [col]
    (let [the-seq (seq col)]
    (loop [n 0 s the-seq]
        (if (seq s) ; 'seq' of an empty sequence is nil
            (recur (inc n) (rest s))
            n))))

(my-count (seq '("Emma" "Oliver Twist" "Robinson Crusoe")))

3

In [24]:
;; The functions 'rest', 'next' and 'count' always return sequences

(rest [1 2 3])

(2 3)

In [27]:
(next {:fname "Jane" :lname "Austen"})

([:lname "Austen"])

In [28]:
(cons 0 #{1 2 3})

(0 1 3 2)

### A Rich Toolkit â€¦

sort

In [29]:
;; Sorting elements with 'sort'

(def titles ["Jaws" "Emma" "2001" "Dracula"])

(sort titles)

("2001" "Dracula" "Emma" "Jaws")

reverse

In [30]:
;; Reversing elements with 'reverse'

(reverse titles)

("Dracula" "2001" "Emma" "Jaws")

In [34]:
;; Reverse the sorted elements with the last 2 functions

(reverse (sort titles))

("Jaws" "Emma" "Dracula" "2001")

partition

In [39]:
;; Divide a sequence in a specified number with 'partition'

(def titles-and-authors ["Jaws" "Benchley" "2001" "Clarke"])

(partition 2 titles-and-authors)

(("Jaws" "Benchley") ("2001" "Clarke"))

interleave

In [40]:
;; Combine 2 sequences into one with 'interleave'

(def titles ["Jaws" "2001"])

(def authors '("Benchley" "Clarke"))

(interleave titles authors)

("Jaws" "Benchley" "2001" "Clarke")

interpose

In [42]:
;; Add a separator between elements of a sequence with 'interpose'

(def scary-animals ["Lions" "Tigers" "Bears"])

(interpose "and" scary-animals)

("Lions" "and" "Tigers" "and" "Bears")

### â€¦ Made Richer with Functional Values

filter

In [43]:
;; The 'filter' function works with sequences

(filter neg? '(1 -22 3 -99 4 5 6 -77))

(-22 -99 -77)

In [49]:
;; Given the vector of books and the predicate function 
;; that find inexpensive books

(def books
    [{:title "Deep Six" :price 13.99 :genre :sci-fi :rating 6}
     {:title "Dracula" :price 1.99 :genre :horror :rating 7}
     {:title "Emma" :price 7.99 :genre :comedy :rating 9}
     {:title "2001" :price 10.50 :genre :sci-fi :rating 5}])

(defn cheap? [book]
    (when (<= (:price book) 9.99) book))

#'user/cheap?

In [50]:
;; 'filter' can work with them

(filter cheap? books)

({:title "Dracula", :price 1.99, :genre :horror, :rating 7} {:title "Emma", :price 7.99, :genre :comedy, :rating 9})

some

In [51]:
;; The 'some' function will return the first truthy value in a sequence

(some cheap? books)

{:title "Dracula", :price 1.99, :genre :horror, :rating 7}

In [52]:
;; Since 'some' returns either the first truthy value or nil,
;; it can easily be used in conditionals, as follows

(if (some cheap? books)
    (println "We have cheap books for sale!"))

We have cheap books for sale!

nil

map

In [55]:
;; The 'map' function applies a function to each element of a sequence

(def some-numbers [1, 53, 811])

(def doubled (map #(* 2 %) some-numbers)) ; Double the elements of the sequence

doubled

(2 106 1622)

In [59]:
;; 'map' can also take arbitrary functions and sequences

(map (fn [book] (:title book)) books) ; Get only the titles of 'books'

("Deep Six" "Dracula" "Emma" "2001")

In [60]:
;; Since keywords can look themselves in maps,
;; the last example can be shortened as follows

(map :title books)

("Deep Six" "Dracula" "Emma" "2001")

In [62]:
;; But to get the lengths of the book titles, 
;; an anonymous function is required again

(map (fn [book] (count (:title book))) books)

(8 7 4 4)

comp

In [65]:
;; Using 'comp' to shorten the last example

(map (comp count :title) books) ; (*)

; (*) The comp function takes any number of functions 
; and returns a function that applies each of the input functions.

(8 7 4 4)

for

In [67]:
;; The 'for' function, which returns identical results to 'map',
;; is similar to for loops in imperative languages

(for [b books]
    (count (:title b)))

(8 7 4 4)

reduce

In [69]:
;; Given a sequence, a 'reducing function' and an initial value

(def numbers [10 20 30 40 50])

(defn add2 [a b]
    (+ a b))

(def initial-value 0)

150

In [71]:
;; The 'reduce' function starst with the initial value,
;; applies the reducing function with the initial value and the 1st element, then
;; applies the reducing function with the result of the first function call and the 2nd element,
;; and the process repeats until all elements of the sequence are processed

(reduce add2 initial-value numbers)

150

In [77]:
;; Since the '+' operator is an ordinary function, the last example
;; can be shortened as follows

(reduce + initial-value numbers)

150

In [75]:
;; In some cases even the initial value can be omitted, 
;; since 'reduce' will use the 1st sequence element as initial value

(reduce + numbers)

150

In [79]:
;; Given the 'books' vector and a new reducer function 
;; that finds the highest price of a book

(defn hi-price [hi book]
    (if (> (:price book) hi)
        (:price book)
        hi))

#'user/hi-price

In [80]:
;; 'reduce' can easily use them, as folllows

(reduce hi-price 0 books)

13.99

### Composing the last functions

In [113]:
;; We need to create a string with the 3 top-rated books 
;; from the 'books' vector, repeated here for convenience

(def books
    [{:title "Deep Six" :price 13.99 :genre :sci-fi :rating 6}
     {:title "Dracula" :price 1.99 :genre :horror :rating 7}
     {:title "Emma" :price 7.99 :genre :comedy :rating 9}
     {:title "2001" :price 10.50 :genre :sci-fi :rating 5}])

#'user/books

In [114]:
;; First, sort the books in descending order

(reverse (sort-by :rating books))

({:title "Emma", :price 7.99, :genre :comedy, :rating 9} {:title "Dracula", :price 1.99, :genre :horror, :rating 7} {:title "Deep Six", :price 13.99, :genre :sci-fi, :rating 6} {:title "2001", :price 10.5, :genre :sci-fi, :rating 5})

In [115]:
;; Then take the 3 first elements of the last sequence

(take 3 (reverse (sort-by :rating books)))

({:title "Emma", :price 7.99, :genre :comedy, :rating 9} {:title "Dracula", :price 1.99, :genre :horror, :rating 7} {:title "Deep Six", :price 13.99, :genre :sci-fi, :rating 6})

In [116]:
;; Then get the titles of the book elements of last sequence

(map :title (take 3 (reverse (sort-by :rating books))))

("Emma" "Dracula" "Deep Six")

In [117]:
;; Then add a separator to the last sequence

(interpose
    " // "
    (map :title (take 3 (reverse (sort-by :rating books)))))

("Emma" " // " "Dracula" " // " "Deep Six")

In [118]:
;; So the complete function looks like the following

(defn format-top-titles [books]
    (let [sorted-books (reverse (sort-by :rating books))
          first-three-books (take 3 sorted-books)
          first-three-titles (map :title first-three-books)]
    (apply str (interpose " // " first-three-titles))))

(format-top-titles books)

"Emma // Dracula // Deep Six"

In [119]:
;; The last function can be simplified with 
;; '->>' (thread-last macro), as follows

(defn format-top-titles [books]
    (->>
        books
        (sort-by :rating)
        reverse
        (take 3)
        (map :title)
        (interpose " // ")
        (apply str)))

(format-top-titles books)

"Emma // Dracula // Deep Six"

### Other source of sequences

In [120]:
;; The 'line-seq' can convert the contents of a text file in a sequence

(require '[clojure.java.io :as io])

(defn listed-author? [author]
    (with-open [r (io/reader "authors.txt")]
        (some (partial = author) (line-seq r))))

#'user/listed-author?

In [121]:
;; Strings characters also can be manipulated as sequences
;; (in this case, matching a string against a regex (regular expression))

(def re #"Pride and Prejudice.*") ; A regex that matches Pride and Prejudice followed by anything.

(def title "Pride and Prejudice and Zombies") ; A string that may or may not match.

(if (re-matches re title)
    (println "We have a classic!"))

We have a classic!

nil

In [122]:
;; The 're-seq' function generates a sequence of strings
;; that match a given regex

(def title "Pride and Prejudice and Zombies") ; A string that may or may not match.

(re-seq #"\w+" title)

("Pride" "and" "Prejudice" "and" "Zombies")

### Issues with sequences

In [124]:
;; When converting maps to sequences, they lose the key-to-value pairing ability

(def maze-runner {:title "The Maze Runner" :author "Dashner"})

"Dashner"

In [126]:
;; The original map works fine

(:author maze-runner)

"Dashner"

In [127]:
;; But the converted sequence returns nil

(:author (seq maze-runner))

nil

In [129]:
;; But this occurs not only with explicitly converted sequences,
;; functions that return sequences show the same behavior

(:author (rest maze-runner))

nil

In [132]:
;; The 'conj' function returns the same collection type it was passed in

(conj ["Emma" "1984" "The Maze Runner"] "Jaws")

["Emma" "1984" "The Maze Runner" "Jaws"]

In [131]:
(conj '("Emma" "1984" "The Maze Runner") "Jaws")

("Jaws" "Emma" "1984" "The Maze Runner")

In [136]:
;; But the 'cons' function returns sequences no matter what collection type
;; was passed in

(cons "Jaws" ["Emma" "1984" "The Maze Runner"])

("Jaws" "Emma" "1984" "The Maze Runner")

In [137]:
(cons "Jaws" '("Emma" "1984" "The Maze Runner"))

("Jaws" "Emma" "1984" "The Maze Runner")